<table>
  <thead>
    <button (click)="initNewClient()">Create new Client</button>
    
    
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th>Cidade</th>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.firstName }}</td>
      <td>{{ client.lastName }}</td>
      <td>{{ client.phoneNumber }}</td>
      <td>{{ client.adress }}</td>
      <td>{{ client.city }}</td>
      <td><button (click)="editClient(client)">Edit</button></td>
    </tr>

  </tbody>
</table>

<app-edit-client 
[client]="clientToEdit"
(clientsUpdated)="updateClientList($event)"
></app-edit-client> 